<div class="container bordes-form">
    <div class="row">
        <h1 class="text-center texto-formularios"><span class="borde-titulo-form">Registrar Cliente</span></h1><hr>

        <%= render 'form', client: @client %>

        <%= link_to 'Atrás', clientes_path,class:"col-md-1 espacio-botones btn btn-warning" %>
    </div>
</div>
