<div class="container">
    <div class="row">
        <div class="col-md-12 col col-sm-12 col-xs-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <p class="titulo-acerca"><span class="glyphicon glyphicon-info-sign"></span> Acerca de Nosotros</p>
              </div>
              <div class="panel-body">
                <hr/>
                <p class="text-muted textos-acerca">
                    <strong>MawTech</strong> es una empresa desarrolladora de software, la cual es propietaria de
                    <strong>MainSoft</strong>, este es un proyecto de Software que pretende ser una solución web, 
                    es decir trabajará en la red y toda 
                    la información se alojará en la nube, este aplicativo permitirá satisfacer 
                    la necesidad del cliente, la cual es gestionar su información, por medio de 
                    diferentes roles de usuario y unas funcionalidades especificas en cada uno de ellos.
                    <br><br>
                    <hr>
                    <strong><h1 class="texto-integrantes text-center">Integrantes:</h1></strong><br>
                    <h4 class="texto-nombres ">Marlon Andrés Urriago Pérez</h4>
                    <h4 class="texto-nombres text-center">Alejandro González Montoya</h4>
                    <h4 class="texto-nombres text-center">Wilder Álvarez Lopez</h4>
                    <br>
                    <%= image_tag('LOGO MAWTECH2.png') %>
                </p>
              </div>
            </div>
        </div>
    </div>
</div>

