<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-log-in btn btn-success btn-xs">    	
    </span>Login</a>
  </li>
</ul>