<div class="container bordes-form">
    <div class="row">
        <h1 class="text-center texto-formularios"><span class="borde-titulo-form">Editar Cargo</span></h1><hr>

        <%= render 'form', cargo: @cargo %>
        
        <%= link_to 'Mostrar', @cargo, class:"col-md-1 btn btn-info" %> 
        <%= link_to 'Atrás', cargos_path, class:"col-md-1 col-md-offset-1 btn btn-warning" %>
    </div>
</div>