<div class="container bordes-form">
    <div class="row">
        <h1 class="text-center texto-formularios"><span class="borde-titulo-form">Editar Producto</span></h1><hr>

        <%= render 'form', catalogo_ropa: @catalogo_ropa %>
        
        <%= link_to 'Mostrar', @catalogo_ropa, class:"col-md-1 btn btn-info" %> 
        <%= link_to 'Atrás', catalogo_ropas_path, class:"col-md-1 col-md-offset-1 btn btn-warning" %>
    </div>
</div>