<div class="container bordes-form">
    <div class="row">
        <h1 class="text-center texto-formularios"><span class="borde-titulo-form">Editar Empleado</span></h1><hr>

        <%= render 'form', empleado: @empleado %>
        
        <%= link_to 'Mostrar', @empleado, class:"col-md-1 btn btn-info" %> 
        <%= link_to 'Atrás', empleados_path, class:"col-md-1 col-md-offset-1 btn btn-warning" %>
    </div>
</div>