<div class="container bordes-form">
    <div class="row">
        <h1 class="text-center texto-formularios"><span class="borde-titulo-form">Editar Ciudad</span></h1><hr>

        <%= render 'form', ciudad: @ciudad %>
        
        <%= link_to 'Mostrar', @ciudad, class:"col-md-1 btn btn-info" %> 
        <%= link_to 'Atrás', ciudades_path, class:"col-md-1 col-md-offset-1 btn btn-warning" %>
    </div>
</div>