<div class="col-md-offset-5">
  <p>
    <strong>Nombre:</strong>
    <%= @ciudad.nombre %>
  </p>
  
  <p>
    <strong>Departamento:</strong>
    <%= @ciudad.departamento.try(:nombre)  %>
  </p>
  
  <%= link_to 'Editar', edit_ciudad_path(@ciudad),class:"btn btn-info" %> 
  <%= link_to 'Atrás', ciudades_path, class:"btn btn-warning" %>
</div>